<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-offset-3 col-md-1 control-label">帐号:</label>
        <input ng-model="user" type="text" class="form-contorl col-md-4" placeholder="请输入帐号" />
    </div>
    <div class="form-group">
        <label class="col-md-offset-3 col-md-1 control-label">密码:</label>
        <input ng-model="password" type="password" class="form-contorl col-md-4" placeholder="请输入密码" />
    </div>
    <div class="form-group">
        <button ng-click="logingets()" type="submit" class="col-md-offset-5 col-md-2">提交</button>
    </div>
</form>
